body {
  font-family: sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  height: calc(100% - 57px);
}

.sidebar {
  width: 15%;
  background-color: #f4f4f4;
  height: 100%;
  overflow: hidden;
}

.sidebar h2 {
  margin-top: 0;
  font-size: clamp(18px, 2vw, 24px);
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar li:hover {
  background-color: #ddd;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

header,
footer {
  padding: 10px;
  background-color: #333;
  color: #fff;
}

header h1 {
  margin: 0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0;
  text-align: center;
}

footer a {
  color: #fff;
}

/* Media queries pour les appareils mobiles */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    max-height: 20%;
    overflow-y: auto;
  }

  .content {
    max-height: 80%;
    overflow-y: auto;
  }
}
